bin/media
bin/system_d/Ogre.cfg
bin/system_d/Ogre.log
build/Debug
build/ipch
build/Release
build/simple-collision-detection.opensdf
build/simple-collision-detection.sdf
build/simple-collision-detection.suo
lib/OgreSDK_vc10_v1-7-3
